__pycache__/ # Ignore .pyc files
*.pyc # Ignore .DS_Store files
*cfg # Ignore .env files
venv/ # Ignore .idea directory
.idea/ # Ignore .vscode directory
.vscode/ # Ignore .pytest_cache directory
.pytest_cache/ # Ignore .mypy_cache directory
.mypy_cache/ # Ignore .tox directory
